.my-background{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(123, 241, 129);
}

.container{
    padding-top: 60px;
}

.card {
    width: 50vw;
    height: 13vh;
    padding: 10px 3%;
}