.my-background{
    width: 100vw;
    min-height: 100vh;
    background-color: antiquewhite;
}

.container-md{
    padding-top: 60px;
}

.my-form{
    padding: 35px 5%;
    width: 70vw;
    height: 50vh;
    border-radius: 5px;
    background-color: white;
}